include ./header.pug
.container
  section#mainContent
    h2 NewUser Register here.
    if(error)
      h4.error #{error}
    form(action = "/auth/register", method = "POST").my-form
      .form-group
        label UserName:
        input(type='text', name='username')
      .form-group
        label Password:
        input(type='password', name='password')
      input.button(type='submit' value='Register')
      p
        a(href="/auth/login") back to login
    


