<html>
    <head>
        <title>404 Page</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include('./include/header.ejs') %>
        <h2>Page Not found</h2>
    </body>
</html>
